
<section class="signIn-form">
  <section class="signIn-logo">
    <i class="far fa-user"></i>
  </section>
<!-- <form  class="signIn" [formGroup]="loginFormGroup" (submit)="handleLogin()">-->
   <form  class="signIn" #form="ngForm"  (ngSubmit)="loginHandler(form)">
<!--     <ng-container *ngIf="notCorrectInputs">-->
<!--       <p class="error">-->
<!--         Username or password is invalid!-->
<!--       </p>-->
<!--     </ng-container>-->
    <p class="field field-icon">
      <label for="email">
        <i class="far fa-envelope-open"></i>
<!--        <input formControlName="email" type="email" name="email" id="email" placeholder="Enter email" required>-->
        <input ngModel #email="ngModel"  [appCustomValidator]="emailValidator" type="email" name="email" id="email"
               placeholder="Enter email" required>
      </label>
    </p>

    <ng-container *ngIf="email.touched">
        <div class="alert alert-danger" *ngIf="email.errors?.['required']">Email is required</div>
        <div class="alert alert-danger" *ngIf="email.errors?.['invalidEmail']">Please enter valid email</div>
<!--      <p *ngIf="loginFormGroup.controls.['email'].touched && loginFormGroup.controls.['email'].errors!.email"></p>-->
    </ng-container>
    <p class="field field-icon">
      <label for="password">
        <input  ngModel #password="ngModel" minlength="4" required name="password" type="password" id="password"
                placeholder="****">
<!--        <input formControlName="password" type="password" id="password" placeholder="*****">-->
      </label>
    </p>
     <ng-container *ngIf="password.touched">
       <div class="alert alert-danger" *ngIf="password.errors?.['required']">Password is required</div>
       <div class="alert alert-danger" *ngIf="password.errors?.['minlength']">Password must be at least 4 characters</div>
     </ng-container>
     <button class="submit-btn">Submit</button>
<!--    <ng-container *ngIf="loginFormGroup.controls.['password'].touched && loginFormGroup.controls.['password'].invalid">-->
<!--&lt;!&ndash;      <p *ngIf="loginFormGroup.controls.['password'].errors.required">&ndash;&gt;-->
<!--&lt;!&ndash;        Please enter email&ndash;&gt;-->
<!--&lt;!&ndash;      </p>&ndash;&gt;-->
<!--&lt;!&ndash;      <p *ngIf="loginFormGroup.controls.['password'].errors.minlength"> Password must be minimum 3 characters </p>&ndash;&gt;-->
<!--    </ng-container>-->
  </form>
<!--  <form  class="signIn" #form="ngForm" (ngSubmit)="loginHandler(form)"></form>-->
</section>
