<!--<p>info works!</p>-->

<section class="info">
  <section class="links">
    <article class="general-info">
      <p>General info for refugees from Ukraine</p>
      <a target="_blank" href="https://www.bghelsinki.org/bg/news/aktualna-informacija-za-vlizashtite-v-bylgarija-ukrainski-grajdani?fbclid=IwAR1HDkMcprW30DqUteOYNQOspIH93RpbApoP5-XORiaNuHeX2OUl2R9Vwcs">
        See info
      </a>
    </article>
    <article class="school">
      <p>Teaching Aids. You can find here educational materials, books and lessons on bulgarian language</p>
      <a target="_blank" href="https://www.unhcr.org/bg/%D1%83%D1%87%D0%B5%D0%B1%D0%BD%D0%B8-%D0%BF%D0%BE%D0%BC%D0%B0%D0%B3%D0%B0%D0%BB%D0%B0?fbclid=IwAR1mxYhXPnZpy0ywIYRPJxkXnz3mjiQbCS_VqhI64aYmGONJ9mKM8_cuIdE">
        See info
      </a>
    </article>
    <article class="protection">
      <p>Information about temporary protection</p>
      <a target="_blank" href="https://ukraine.gov.bg/2022/03/11/information-about-temporary-protection/">
        See info
      </a>
    </article>
    <article class="donate-goods">
      <p>Information where you can donate goods, materials, foods, clothes and other things for people in need</p>
      <a href="https://www.facebook.com/groups/ukraine.bg/posts/339779478161263/" target="_blank">
        See info
      </a>
    </article>
    <article class="help-center">
      <p>Situation center open doors</p>
      <a href="https://opendoors.center/?fbclid=IwAR33AT27YgSgZ3qK7gO3azns5C3Innv55npD_Iz3T-lj9TDFSKn5g0tDEl0" target="_blank">
        See info
      </a>
    </article>
    <article class="auob">
      <p>Help to Ukrainian citizens in Bulgaria. Here you can find useful information about donation, job place, accommodation,
      transport, info to travel with your car in Bulgaria, how can become volunteer and others useful information</p>
      <a href="https://www.motherukraine-bg.org/home" target="_blank">See info</a>
    </article>
    <article class="job-info">
      <p>Jobs info - Employment Agency</p>
      <a href="https://www.az.government.bg/pages/vazmozhnosti-za-rabota-na-ukrainski-grazhdani/" target="_blank">
        See info
      </a>
    </article>
  </section>
</section>

